* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    align-items: center;
    font-size: 48px;
    color: #810000;
} 


body{
    background-color: #000000;
    font-family: sans-serif;
    font-size: 1em;
    color: #00702b;
    margin-top: 15%;
    justify-content: center;
}

.campo {
    margin-bottom: 1em;
}

.campo {
    float:  left;
    margin-right: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    text-align: center;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #5e0000;
    border: 0;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(19, 17, 17);
    margin-top: 2px;
    margin-left: 200px;
    margin-right: 2px;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}


.btn:hover {
    background: #a12121;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.btn, select{
    cursor: pointer;
}
a{
    text-decoration: none;  
}

